<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>VotaConciencia</title>
    <link href='http://fonts.googleapis.com/css?family=Lato|Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/estilos.css"%}"></link>
    <link rel="stylesheet" href="{% static "css/bootstrap.css"%}"></link>
    <link rel="stylesheet" href="{% static "js/bootstrap.js"%}"></link>
</head>
<body>
    {% include "home/navbar.html" %}
    {% block contenedor %}
        todavia no hay nada
    {% endblock contenedor %}
</body>
</html>