{% extends "base.html" %}
{% load staticfiles %}

{% block contenedor %}
<div class="text-center" style="height: 100%;">
<h2><span style="color:#33CCFF">Bienvenido. Todo lo que necesitás saber para las elecciones,</span> encontralo acá.</h2>
<br>
<div class="col-md-6">
    <a href="{% url 'elecciones' %}">
        <button type="button" class="btn boton-inicio btn-block btn-info"><img src="{% static 'logos/elecciones.png' %}"></button>
    </a>
    <a href="{% url 'entrevistas' %}">
        <button type="button" class="btn boton-inicio btn-block btn-warning"><img src="{% static 'logos/entrevistas.png' %}"></button>
    </a>
    <a href="{% url 'calendario' %}">
        <button type="button" class="btn boton-inicio btn-block btn-success"><img src="{% static 'logos/calendario.png' %}"></button>
    </a>
    <a href="{% url 'quienes_somos' %}">
        <button type="button" class="btn boton-inicio btn-block btn-danger"><img src="{% static 'logos/quienes_somos.png' %}"></button>
    </a>
    <br>
    <br>
    <p class="nicefont">Visitá las otras iniciativas de Fundeps:</p>
    <a href="http://www.argentinavota.org" target="_blank">
        <button type="button" class="btn boton-inicio btn-block btn-primary nicefont" style="font-size: 225%">
            Argentina Vota <img src="{% static 'logos/argentina_vota.png' %}">
        </button>
    </a>
</div>
<div class="col-md-6">
{% with "votaconciencia" as handle %}
    {% include "home/twitter.html" %}
{% endwith %}
</div>
</div>
<div style="height: 21em; margin:30px;"></div>
{% endblock contenedor %}
