{% extends "base.html" %}
{% load staticfiles %}

{% block contenedor %}
<div class="text-center" style="height: 100%;">
<h1>Bienvenido</h1>
<p> 
    <a href="/elecciones"><button type="button" class="btn boton-inicio btn-lg btn-info">Elecciones</button></a></p>
<p> 
    <a href="/candidatos"><button type="button" class="btn boton-inicio btn-lg btn-warning">Candidatos</button></a></p>
<p> 
    <a href="/partidos"><button type="button" class="btn boton-inicio btn-lg btn-danger">Partidos</button></a></p>
<p> 
    <a href="/calendario"><button type="button" class="btn boton-inicio btn-lg btn-success">Calendario</button></a></p>
</div>
<div style="height: 15em;"></div>
{% endblock contenedor %}
