{% extends "base.html" %}
{% load staticfiles %}

{% block contenedor %}
<div class="text-center" style="height: 100%;">
<h1>Bienvenido</h1>
<div class="col-md-12 col-xs-12 col-sm-12">
    <a href="/elecciones/">
        <button type="button" class="btn col-xs-12 col-sm-12 boton-inicio btn-lg btn-info">Elecciones</button>
    </a>
</div>
<div class="col-md-12 col-xs-12 col-sm-12">
    <a href="/entrevistas/">
        <button type="button" class="btn col-xs-12 col-sm-12 boton-inicio btn-lg btn-warning">Entrevistas</button>
    </a>
</div>
<div class="col-md-12 col-xs-12 col-sm-12">
    <a href="/partidos/">
        <button type="button" class="btn col-xs-12 col-sm-12 boton-inicio btn-lg btn-danger">Partidos</button>
    </a>
</div>
<div class="col-md-12 col-xs-12 col-sm-12">
    <a href="/calendario/">
        <button type="button" class="btn col-xs-12 col-sm-12 boton-inicio btn-lg btn-success">Calendario</button>
    </a>
</div>
<div class="col-md-12 col-xs-12 col-sm-12">
    <a href="/quienes_somos/">
        <button type="button" class="btn col-xs-12 col-sm-12 boton-inicio btn-lg btn-success">Quienes Somos</button>
    </a>
</div>
</div>
<div style="height: 21em; margin:30px;"></div>
{% endblock contenedor %}
