{% extends "base.html" %}
{% load staticfiles %}

{% block contenedor %}
<h1>COSAS QUE DEBERÍAS SABER DE LAS ELECCIONES</h1>
<h2>Nuestro sistema </h2>
En Argentina el sistema político es presidencialista. Lo que implica que hay una figura central, la del Presidente, que es a su vez Jefe de Estado y Jefe de Gobierno. Es elegido por voto popular, y está en su cargo durante 4 años con posibilidad de ser reelegido una vez. Además existe una separación de poderes entre el Poder Ejecutivo, el Legislativo y el Judicial, y cada uno de estos tiene su propia esfera de acciones y funciones particulares. El presidente dirige el Poder Ejectuvo y el Congreso no debe intervenir en sus funciones.
<h2>¿Qué son las PASO? </h2>
Las elecciones Primarias Abiertas, Simultáneas y Obligatorias (PASO) se crearon en 2009. Son un método de selección y de habilitación de partidos y alianzas, donde la gente elige que partidos pueden competir en las elecciones nacionales y cuál será la candidatura. Entonces los partidos presentan a sus pre-candidatos a los cargos y los simpatizantes de dichos partidos o candidatos votan a sus preferidos para competir por ese cargo.
<h2>¿Qué se vota en las provinciales?</h2>
Este 5 de julio en Córdoba se vota por Gobernador, Vice y 70 Legisladores para el período 2015-2019. Ese mismo día se elegirán, también, tres miembros titulares y tres miembros suplentes para integrar el Tribunal de Cuentas de la Provincia. 
 <h2>¿Quiénes pueden votar?</h2>
Los argentinos nativos y por opción desde los dieciséis (16) años y los argentinos naturalizados desde los dieciocho (18) años, siempre que figuren en el padrón electoral y exhiban documento habilitante. También podrán votar los procesados que se encuentren cumpliendo prisión preventiva; y los argentinos residentes en el exterior que se hayan inscripto.
<h2>¿Quiénes votan en las PASO? </h2>
Las elecciones son obligatorias para todos aquellos ciudadanos argentinos que tengan 16 años o más a la fecha de la elección nacional, y se encuentren inscriptos en el padrón electoral.
<h2>¿Dónde voto?</h2>
Para acceder a esa información, se debe ingresar a la página web del Poder Judicial. Allí se puede realizar la consulta, ingresando DNI, Libreta de Enrolamiento o Libreta Cívica, tildar el sexo del titular del documento y el código de imagen que aparece al pie. O También podes consultar el lugar de votación por mensaje de texto. Envía la palabra VOTO (espacio) DNI (espacio) SEXO (M F) al número 60606 (ejemplo: VOTO 24112448 M). Seguidamente te llegará la información a tu teléfono móvil.
http://www.justiciacordoba.gob.ar/lugarvotacion/PadronDefinitivo.aspx
Dónde voto en las PASO?
Los padrones definitivos pueden ser consultados a partir del 10 de julio, donde cada votante debe verificar el lugar donde se encuentre la mesa en la cual le corresponda votar. Esta información puede consultarse en www.padrones.gob.ar, llamando al 0800-999-PADRON (7237), o enviando un mensaje desde tu teléfono celular enviando la palabra VOTO (espacio) DNI (espacio) SEXO (M F) al número 60606 (ejemplo: VOTO 24112448 M). Seguidamente te llegará la información a tu teléfono móvil.
En qué momento voto 
El domingo 5 de Julio desde las 8 hasta las 18 tenés tiempo para votar en la escuela correspondiente.
<h2>¿Qué pasa si no voto?</h2>
Según la legislación argentina votar es un deber y no solo un derecho, quién no vote pudiendo hacerlo puede ser penado con multas y/o restricciones políticas y administrativas.  Si alguna vez no votaste entra a http://infractores.padron.gov.ar y corroborá tu situación.
En caso de no haber votado en las PASO la obligación de votar en las generales sigue existiendo. 
¿Quién está justificado de no votar?
Las únicas razones por las que podes estar justificado de no votar son: estar a más de 500 kilómetros de tu lugar de votación. Ser parte del personal de empresas de servicios públicos que por razones del cumplimiento de sus funciones no puedan asistir, pero esto debe ser avisado por el empleador con 10 días de anticipación respecto al día de la elección. Y por último, estar enfermo o tener impedimentos mayores, pero esto debe ser certificado por un médico nacional, sino provincial o municipal y si no se puede uno privado.
Los documentos habilitados para votar son:
Libreta de enrolamiento/libreta cívica
DNI libreta verde
DNI libreta celeste
Tarjeta del DNI libreta celeste (aún cuando figure que no es válido para votar)
Nuevo DNI tarjeta
No se permitirá el voto de ciudadanos que tengan un documento correspondiente a un ejemplar anterior al que aparece en el padrón electoral. Si se admite el voto de quien se presente con una versión posterior al documento que figura registrado en el padrón.

<h1>Como votar con boleta única</h1>
Para aprender a votar con boleta única podes usar este simulador: http://www.justiciacordoba.gob.ar/bus/
<h2>Proceso para PASO</h2>
En primer lugar deberás dirigirte a la Escuela en la cual votes, cuando llegues a tu mesa y presentes tu DNI deberás firmar el padrón electoral. Seguidamente, recibirás por parte de las autoridades de mesa, un sobre. En el cuarto oscuro tenés que elegir la boleta de tu preferencia y ponerla en el sobre. En el momento que finalices la elección, deberás colocar tu voto en la urna. No te olvides de retirar tu documento de identificación y constancia de votación. ¡Acabas de votar! 
<h2>Proceso de votación</h2>
En primer lugar deberás dirigirte a la Escuela en la cual votes, cuando llegues a tu mesa y presentes tu DNI recibirás, por parte de las autoridades de mesa, una boleta única y una lapicera. En la cabina de votación debes marcar los candidatos de tu preferencia dentro de los recuadros correspondientes. En el momento que finalices la elección, deberás colocar tú boleta en la urna doblada y sin sobre. No te olvides de retirar tu documento de identificación y constancia de votación. ¡Acabas de elegir a tus próximos representantes!
<h2>El orden de la boleta única</h2>
El orden de la boleta se hizo por sorteo para no beneficiar a nadie, los resultados fueron así
1. Movimiento al Socialismo. Eduardo Mulhall-Anita Páez.
2. Frente Progresista. Roberto Birri-Carlos Altamirano
3. Frente de Izquierda y los Trabajadores. Liliana Olivero-Hernán Puddu
4. Córdoba Podemos. Eduardo Accastello-Eduardo Bonaventura
5. Unión Celeste y Blanco. (sólo legisladores). 
6. Partido Liberal Republicano. (sólo legisladores)
7. Unión por Cordoba. Juan Schiaretti-Martín Llaryora.
8. Juntos por Córdoba. Oscar Aguad-Héctor Baldassi.
9. Encuentro Vecinal Córdoba. (sólo legisladores)
10. Coalición Cívica. (sólo legisladores).
11. MST. Raúl Gómez-Sofía Gatica.
12. MUP. (sólo legisladores)

{% endblock contenedor %}