{% extends "base.html" %}
{% load staticfiles %}

{% block contenedor %}

<div>
<a href="{% url 'eleccion_candidatos' candidato.postulaciones.last.cargo.eleccion.id %}">
    <button type="button" class="btn btn-lg btn-default" style="float: left">
        <span class="glyphicon glyphicon-menu-left"></span> Elecciones {{ candidato.eleccion.nombre }}
    </button>
</a>

<a href="{% url 'perfil_partido' candidato.partido.id %}" style="float: right">
    <button type="button" class="btn btn-lg btn-info">Mirá otros candidatos del {{candidato.partido.abreviacion}}</button>
</a>
<br><br><br>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="thumbnail img-responsive sin-borde">
      <img src="{{candidato.foto.url}}" >
      <div class="caption">
        <h1>{{candidato.nombre}}</h1>
      </div>
    </div>
  </div>

  <div class="col-md-8">

    <div class="row">
      <h2>Biografia</h2>
      <p>{{candidato.bio|safe}}</p>
      {% if candidato.entrevistas.all %}
        <a href="{% url 'entrevista_individual' candidato.entrevistas.last.id %}">
          <button type="button" class="btn btn-lg btn-success" style="float: right">
              Ver entrevista <span class="glyphicon glyphicon-menu-right"></span>
          </button>
        </a>
      {% endif %}
    </div>

    <br><br>
    <div class="row"  style:"text-align: left">
      {% if candidato.facebook %}
      <div class="col-sm-6">
      <a href="{{candidato.facebook}}" target="_blank" class="nicefont">
        <img src="{% static "logos/facebook.png" %}" style="width: 3rem; height: 3rem">
        {{ candidato.nombre }} en Facebook
      </a>
      </div>
      {% endif %}
      {% if candidato.pagina_personal %}
      <div class="col-sm-6">
      <a href="{{candidato.pagina_personal}}" target="_blank" class="nicefont">
        <img src="{% static "logos/webpage.png" %}" style="width: 3rem; height: 3rem">
        Visitá la página de {{ candidato.nombre }}
      </a>
      </div>
      {% endif %}
    </div>

  </div>
</div>

<div class="row">
<div class="col-md-7">
    <h2>Propuestas:</h2>
    <ul style="text-align: left;">
    {%for p in candidato.propuestas.all %}
        <li><p>{{p.descripcion|safe}}</p></li>
    {%empty%}
      <p class="text-danger" style="text-align: center;">El candidato no ha oficializado sus propuestas por el momento.</p>
    {%endfor%}

  <p>{{candidato.spot|safe}}</p>

    </ul>
</div>

<div class="col-md-5">
<h2>{{candidato.nombre}} en Twitter</h2>
  {% if candidato.cuenta_tw %}
      {% with candidato.cuenta_tw as handle %}
          {% include "home/twitter.html" %}
      {% endwith %}
  {% else %}
    {{ candidato.nombre }} no tiene cuenta en twitter.
  {% endif %}
</div>
</div>


<div>
<a href="{% url 'eleccion_candidatos' candidato.postulaciones.last.cargo.eleccion.id %}">
    <button type="button" class="btn btn-lg btn-default" style="float: left">
        <span class="glyphicon glyphicon-menu-left"></span> Elecciones {{ candidato.eleccion.nombre }}
    </button>
</a>

<a href="{% url 'perfil_partido' candidato.partido.id %}" style="float: right">
    <button type="button" class="btn btn-lg btn-info">Mirá otros candidatos del {{candidato.partido.abreviacion}}</button>
</a>
<br><br><br>
</div>


{% endblock contenedor %}
