{% extends "base.html" %}
{% load staticfiles %}

{% block contenedor %}
<div class="col-md-12">
    <div class="col-md-4">
        <div class="thumbnail img-responsive sin-borde">
          <img src="{{candidato.foto.url}}"  alt="..." >
          <div class="caption">
            <h1>{{candidato.nombre}}</h1>
        </div>
    </div>
    </div>
    <div class="col-md-8">
          <h2>Biografia</h2>
          <p>{{candidato.bio|safe}}</p>
    </div>
</div>

<div class="col-md-12">
    <h2>Propuestas:</h2>
    <ul style="text-align: left;">
    {%for p in candidato.propuestas.all %}
        <li><p>{{p.descripcion|safe}}</p></li>
    {%endfor%}
    </ul>
</div>
{% endblock contenedor %}
