{% extends "base.html" %}
{% load staticfiles %}
{% block contenedor %}

<div>
<a onclick="window.history.back()"
    <button type="button" class="btn btn-lg btn-default" style="float: left">
        <span class="glyphicon glyphicon-menu-left"></span> Atrás
    </button>
</a>

<a href="{% url 'partidos' %}" style="float: right">
    <button type="button" class="btn btn-lg btn-info">Mirá todos los partidos</button>
</a>
<br><br><br>
</div>

<div class="text-center">
<h1>{{partido.nombre}} <small>{{partido.abreviacion}}</small></h1>

{% if partido.informacion %}
<h2>Un poco de historia...</h2>
<div class="separador"></div>
{{ partido.informacion | safe }}
{% endif %}

{# TODO añadir alianzas #}

<h2>Candidatos de este partido</h2>
<div class="separador"></div>
{%for candidato in partido.candidatos.all %}
    {% include "atomos/candidato.html" %}
{%endfor%}

</div>
{% endblock contenedor %}