{% extends "base.html" %}
{% load staticfiles %}

{% block contenedor %}

<div>
<a href="{% url 'elecciones' %}">
    <button type="button" class="btn btn-lg btn-default" style="float: left">
        <span class="glyphicon glyphicon-menu-left"></span> Otras elecciones
    </button>
</a>

{% if eleccion.informacion %}
<a href="{% url 'eleccion_informacion' eleccion.id %}" style="float: right">
    <button type="button" class="btn btn-lg btn-info">Todo lo que tenés que saber para esta elección</button>
</a>
{% endif %}

<br><br><br>
</div>

{% if eleccion.popup %}
<div class="alert alert-warning alert-dismissible nicefont fixed-in-bottom">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ eleccion.popup | safe }}
</div>
{% endif %}




{% for cargo, postulaciones in postulaciones.por_cargo %}
{% with votos_totales=postulaciones.votos_totales %}

<h1>Candidatos a {{ cargo }}</h1>

<div class="line-separator"></div>
{% for partido, postulaciones in postulaciones.por_representacion %}
    <div class="candidatos-de-partido text-center" style="background-color: {{ partido.color }};">
    <h2>{{ partido.abreviacion }}</h2>
    <div class="pool">
    {% for postulacion in postulaciones %}
        {% with candidato=postulacion.candidato %}
            {% include "atomos/candidato.html" %}
        {% endwith %}
    {% endfor %}
    </div>
    </div>
{% endfor %}

{% endwith %}
{% endfor %}




<div>
<a href="{% url 'elecciones' %}">
    <button type="button" class="btn btn-lg btn-default" style="float: left">
        <span class="glyphicon glyphicon-menu-left"></span> Otras elecciones
    </button>
</a>

{% if eleccion.informacion %}
<a href="{% url 'eleccion_informacion' eleccion.id %}" style="float: right">
    <button type="button" class="btn btn-lg btn-info">Todo lo que tenés que saber para esta elección</button>
</a>
{% endif %}
<br><br><br>
</div>

{% endblock contenedor %}