{% extends "base.html" %}
{% load staticfiles %}

{% block contenedor %}

<h1>Candidatos de las elecciones {{ eleccion.nombre }}</h1>
<div class="line-separator"></div>

{% for partido, candidatos in candidatos %}
    <div class="candidatos-de-partido text-center" style="background-color: {{ partido.color }};">
    <h2>{{ partido.abreviacion }}</h2>
    <div class="pool">
    {% for candidato in candidatos %}
        {% include "atomos/candidato.html" %}
    {% endfor %}
    </div>
    </div>
{% endfor %}

{% endblock contenedor %}