{% extends "base.html" %}
{% load staticfiles %}

{% block contenedor %}

<div>
<a href="{% url 'elecciones' %}">
    <button type="button" class="btn btn-lg btn-default" style="float: left">
        <span class="glyphicon glyphicon-menu-left"></span> Otras elecciones
    </button>
</a>

<a href="{% url 'eleccion_informacion' eleccion.id %}" style="float: right">
    <button type="button" class="btn btn-lg btn-info">Todo lo que tenés que saber para esta elección</button>
</a>
<br><br><br>
</div>

<h1>Candidatos de las elecciones {{ eleccion.nombre }}</h1>
<div class="line-separator"></div>

{% for partido, candidatos in candidatos %}
    <div class="candidatos-de-partido text-center" style="background-color: {{ partido.color }};">
    <h2>{{ partido.abreviacion }}</h2>
    <div class="pool">
    {% for candidato in candidatos %}
        {% include "atomos/candidato.html" %}
    {% endfor %}
    </div>
    </div>
{% endfor %}

{% if legisladores %}
<h1>Candidatos a legisladores</h1>
<div class="line-separator"></div>

{% for partido, candidatos in legisladores %}
    <div class="candidatos-de-partido text-center" style="background-color: {{ partido.color }};">
    <h2>{{ partido.abreviacion }}</h2>
    <div class="pool">
    {% for candidato in candidatos %}
        {% include "atomos/candidato.html" %}
    {% endfor %}
    </div>
    </div>
{% endfor %}
{% endif %}

<div>
<a href="{% url 'elecciones' %}">
    <button type="button" class="btn btn-lg btn-default" style="float: left">
        <span class="glyphicon glyphicon-menu-left"></span> Otras elecciones
    </button>
</a>

<a href="{% url 'eleccion_informacion' eleccion.id %}" style="float: right">
    <button type="button" class="btn btn-lg btn-info">Todo lo que tenés que saber para esta elección</button>
</a>
<br><br><br>
</div>

{% endblock contenedor %}