{% extends "base.html" %}
{% load staticfiles %}

{% block contenedor %}

<div class="row">
<a href="{% url 'inicio' %}" >
    <button type="button" class="btn btn-lg btn-default" style="float: left">
        <span class="glyphicon glyphicon-menu-left"></span> Inicio
    </button>
</a>
</div>

<h1>Elecciones</h1>
<div class="line-separator"></div>

<div class="row text-center">
{% for eleccion in elecciones %}
<a href="{{eleccion.get_absolute_url}}">
<button type="button" class="btn boton-inicio btn-lg btn-info nicefont col-xs-2" style="margin-left:2%; margin-right:2%">
    {% if eleccion.logo %}
        <div style="background-image: url({{ eleccion.logo.url }})" class="new-image-container"></div>
    {% else %}
        <div style="background-image: url({% static 'logos/elecciones.jpg' %})" class="new-image-container"></div>
    {% endif %}
    <div>
    {{eleccion.nombre}}
    </div>
</button>
</a>
{% endfor %}
</div>

<div style="height: 5em"></div>

{% endblock contenedor %}