{% extends "base.html" %}
{% load staticfiles %}

{% block contenedor %}

<div class="row">
<a href="{% url 'inicio' %}" >
    <button type="button" class="btn btn-lg btn-default" style="float: left">
        <span class="glyphicon glyphicon-menu-left"></span> Inicio
    </button>
</a>
</div>


<h1>Entrevistas</h1>
<div class="line-separator"></div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for eleccion in elecciones %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
      <h3 class="panel-title" style="font-family:'Ubuntu Condensed', sans-serif; font-size: 140%">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
          Entrevistas sobre las elecciones {{ eleccion.nombre }}
        </a>
      </h4>
    </div>
    <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
      <div class="panel-body">
        {% for entrevista in eleccion.entrevistas %}
        <div class="col-md-6">
            {% include "atomos/entrevista.html" %}
            <br>
        </div>
        {% empty %}
            No hay entrevistas cargadas aún
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>





{% endblock contenedor %}