/* general */
.line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #313030;
    margin-bottom: 2em;
}

.sin-borde{
    border: solid 0px transparent;
}

.separador{
    height: 10px;
    border-bottom: solid 1px #ddd; 
}

/* navbar */

.navbar-brand img {
    height: 40px;
    width: auto;
    margin-top: -7px;
}

.navbar-collapse img {
    width: auto;
    height: 3rem;
}

/* botones */

.boton-inicio {
    padding: 40em;
    margin: 1em auto;
    /*width: 40em;*/
}

.boton-inicio img {
    width: auto;
    height: 5rem;
}

/* atomos */

.atomo {
    text-align: center;
    width: 15em;
    display: inline-block;
    padding: 1em 1em 1em 1em;
}

.atm-img-container img {
    height: 100%;
    width: auto;
    margin-left: 50%;
    margin-top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform:    translate(-50%, -50%);
    -ms-transform:     translate(-50%, -50%);
    -o-transform:      translate(-50%, -50%);
    transform:         translate(-50%, -50%);
}

.atm-img-container {
    overflow: hidden;
    margin-left: -1em;
    width: 15em;
    height: 15em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* atomos de entrevista */

.entr-img-container img {
    height: 100%;
    width: auto;
    margin-left: 50%;
    margin-top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform:    translate(-50%, -50%);
    -ms-transform:     translate(-50%, -50%);
    -o-transform:      translate(-50%, -50%);
    transform:         translate(-50%, -50%);
}

.entr-img-container {
    overflow: hidden;
    margin-left: -1em;
    width: 15em;
    height: 15em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline;
    float: left;
}

.entr-descripcion {
    text-align: left;
    display: inline;
    padding-left: 4em;
    padding-top: 0px;
    height: 100%;
}

/* para que se vean como fixture */

.candidatos-de-partido {
    display: inline-block;
    margin: 1em 1em 1em 1em;
    padding-right: 2em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    overflow: hidden;
}

.nicefont {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 150%;
}

.fixed-in-bottom {
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 1;
}

.candidatos-de-partido h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
    margin-top: 0.5em;
    padding-left: 1em;
    text-shadow: 0px 0px 1em black;
}

.new-image-container {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8em;
}

.candidatos-de-partido .pool {
    background-color: white;
    margin-left: 1em;
    margin-right: -1em;
    margin-bottom: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.candidatos-de-partido .atm-img-container {
    margin-left: -1em;
}

.contenido-principal {
    background-color: white;
    width: 100%;
    -moz-border-top-left-radius: 1em;
    -webkit-border-top-left-radius: 1em;
    border-top-left-radius: 1em;
    -moz-border-top-right-radius: 1em;
    -webkit-border-top-right-radius: 1em;
    border-top-right-radius: 1em;
}

.contenido-principal-background {
    background-color: white;
    height: 100%;
    -moz-border-top-left-radius: 1em;
    -webkit-border-top-left-radius: 1em;
    border-top-left-radius: 1em;
    -moz-border-top-right-radius: 1em;
    -webkit-border-top-right-radius: 1em;
    border-top-right-radius: 1em;
}


/* el footer */

.footer {
    margin-top: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #1f5990;
    color: #1f5990;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


.footer img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.img-container {
    display: inline-block;
    height: 100%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    width: 15%;
    vertical-align: middle;
}