/* general */
.line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #313030;
    margin-bottom: 2em;
}

.navbar {
    font-family: 'Lato', sans-serif;
}

.navbar-brand img {
    width: 100%;
    margin-top: -5px;
}

.boton-inicio {
    padding: 40em;
    margin: 1em auto;
    /*width: 40em;*/
}
.sin-borde{
    border: solid 0px transparent;
}
.jumbotron{
    background-color: transparent;
}

.jumbotron p {
    width: 70%;
}

.separador{
    height: 10px;
    border-bottom: solid 1px #ddd; 
}


/* atomos */

.atomo {
    text-align: center;
    width: 15em;
    display: inline-block;
    padding: 1em 1em 1em 1em;
}

.atm-img-container img {
    height: 100%;
    width: auto;
    margin-left: 50%;
    margin-top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform:    translate(-50%, -50%);
    -ms-transform:     translate(-50%, -50%);
    -o-transform:      translate(-50%, -50%);
    transform:         translate(-50%, -50%);
}

.atm-img-container {
    overflow: hidden;
    margin-left: -1em;
    width: 15em;
    height: 15em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* atomos de entrevista */

.entr-img-container img {
    height: 100%;
    width: auto;
    margin-left: 50%;
    margin-top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform:    translate(-50%, -50%);
    -ms-transform:     translate(-50%, -50%);
    -o-transform:      translate(-50%, -50%);
    transform:         translate(-50%, -50%);
}

.entr-img-container {
    overflow: hidden;
    margin-left: -1em;
    width: 15em;
    height: 15em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline;
    float: left;
}

.entr-descripcion {
    text-align: left;
    display: inline;
    padding-left: 4em;
    padding-top: 0px;
    height: 100%;
}

/* para que se vean como fixture */

.candidatos-de-partido {
    display: inline-block;
    margin: 1em 1em 1em 1em;
    padding-right: 2em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    overflow: hidden;
}

.candidatos-de-partido h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
    margin-top: 0.5em;
    padding-left: 1em;
    text-shadow: 0px 0px 1em black;
}

.candidatos-de-partido .pool {
    background-color: white;
    margin-left: 1em;
    margin-right: -1em;
    margin-bottom: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.candidatos-de-partido .atm-img-container {
    margin-left: -1em;
}

.contenido-principal {
    background-color: white;
    width: 100%;
    -moz-border-top-left-radius: 1em;
    -webkit-border-top-left-radius: 1em;
    border-top-left-radius: 1em;
    -moz-border-top-right-radius: 1em;
    -webkit-border-top-right-radius: 1em;
    border-top-right-radius: 1em;
}

.contenido-principal-background {
    background-color: white;
    height: 100%;
    -moz-border-top-left-radius: 1em;
    -webkit-border-top-left-radius: 1em;
    border-top-left-radius: 1em;
    -moz-border-top-right-radius: 1em;
    -webkit-border-top-right-radius: 1em;
    border-top-right-radius: 1em;
}


/* el footer */

.footer {
    margin-top: 5em;
    padding-top: 5px;
    background-color: #1f5990;
    color: #1f5990;
    text-align: center;
}

.footer img {
    width: 100%;
    height: auto;
    color: white;
}